#app-footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: flex-end;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    margin: 0;
}

#search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: auto;
    margin: auto;
    margin-left: 3%;
}
  
#github-link {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 25%;
    height: auto;
    padding-right: 2%;
}
  
#github-link a {
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: white;
    width: auto;
}
  
#github-link a:hover {
    color: yellowgreen;
    transition: 0.3s;
}
  
#github-link img {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
    margin-right: 3%;
}