#login-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 75vh;
}
  
#login-form {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 94%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
  
#login-form h1 {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    width: 100%;
    height: 20%;
    margin: 0;
}
  
#login-message {
    color: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: bold;
    width: 98%;
    height: 10%;
    margin: 1%;
}
  
#login-registration-message {
    color: gray;
    display: flex;
    justify-content: center;
    font-family: inherit;
    width: 98%;
    height: 5%;
    margin: 1%;
}
  
#login-inputs-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    margin: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}
  
.login-input {
    font-family: inherit;
    width: 100%;
    height: fit-content;
    margin: 5%;
}
  
#login-error {
    color: red;
    display: flex;
    justify-content: center;
    font-family: inherit;
    width: 98%;
    height: 5%;
    margin: 1%;
}
  
#login-submit {
    font-family: inherit;
    background-color: lightgreen;
    width: 40%;
    height: auto;
    margin: auto;
}