body {
  background-image: linear-gradient(45deg, rgba(196, 196, 196, 0.596) 22%, rgba(158, 158, 158, 0.205) 64%), url("/public/images/lettuce-background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* .App-header {
  background-image: linear-gradient(#15c942, #1a642c);
  color: white;
  display: flex;
  width: 100vw;
  height: 10vh;
  margin: 0;
} */

.App-header {
  height: 25%;
  position: relative;
  z-index: 10;
}

.App-header:before,
.App-header:after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:100%;
  background: transparent;
}

.App-header:after {
  -webkit-mask:
    radial-gradient(100% 80% at top   ,white 79.5%,transparent 80%) left,
    radial-gradient(100% 80% at bottom,transparent 79.5%,white 80%) right;
  mask:
    radial-gradient(100% 80% at top   ,white 79.5%,transparent 80%) left,
    radial-gradient(100% 80% at bottom,transparent 79.5%,white 80%) right;
  -webkit-mask-size:50.1% 100%;
  -webkit-mask-repeat:no-repeat;
  mask-size:50.1% 100%;
  mask-repeat:no-repeat;
  background:linear-gradient(to bottom right, darkgreen, lightgreen);
}

.App-main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  margin: 0;
  z-index: 1;
}

#App-login-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  margin: 0;
  z-index: 1;
}

#App-login-form {
  background-color: rgb(231, 231, 231);
  box-shadow: rgb(255, 255, 255) 2px 2px 2px 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 90%;
  margin: 30%;
  margin-top: 10%;
  margin-bottom: 5%;
}

#App-login-form h1 {
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 90%;
  height: 10%;
  margin: 5%;
}

.login-message {
  color: forestgreen;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 30%;
  margin: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-input {
  width: auto;
  height: fit-content;
  margin: 5%
}

.login-input input {
  font-family: inherit;
  width: 100%;
}

.login-error {
  color: red;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-submit {
  font-family: inherit;
  background-color: lightgreen;
  width: 40%;
  height: auto;
  margin: auto;
}

.vegetable-card-table {
  display: -ms-inline-grid;
  width: 96%;
  height: auto;
  margin: 2%;
  margin-top: 8%;
}

.vegetable-card {
  background-color: rgb(231, 231, 231);
  box-shadow: gray 2px 2px 2px 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-flex;
  width: 18%;
  height: 46%;
  margin: 1%;
}

.App-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: black;
  color: white;
  width: 100vw;
  height: 10vh;
  margin: 0;
  z-index: 9;
}