body {
  background-image: linear-gradient(45deg, rgba(196, 196, 196, 0.596) 22%, rgba(158, 158, 158, 0.205) 64%), url("/public/images/lettuce-background.jpg");
  background-size: cover;
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#app-header {
  background-color: black;
  outline: greenyellow 10px solid;
  color: forestgreen;
  display: flex;
  width: 100vw;
  height: 15vh;
}

.header-title {
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 33%;
  height: 100%;
  padding-left: 1%;
}

.header-title img {
  width: 19%;
  height: auto;
  margin: 3%;
}

.header-title h1 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  width: fit-content;
  margin: 3%;
}

#header-dashboard {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 65%;
  height: 100%;
  padding-right: 1%;
}

#header-dashboard h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: inherit;
  width: 50%;
  height: 100%;
  margin: 0;
}

#header-dashboard button {
  display: flex;
  background: black;
  border: none;
  text-decoration: none;
  background-color: transparent;
  border-bottom: rgba(0, 0, 0, 0) solid 3px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: inherit;
  width: 8.5%;
  padding-top: 10px;
  padding-bottom: 7px;
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
}

#header-dashboard button:hover {
  border-bottom: lightgray solid 2px;
}

#header-dashboard button.active {
  border-bottom: forestgreen solid 3px;
}

.app-main {
  display: flex;
  width: 100vw;
  height: 75vh;
  margin: 0;
}

#app-login-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
}

#app-login-form {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 94%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

#app-login-form h1 {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 100%;
  height: 20%;
  margin: 0;
}

.login-message {
  color: forestgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: bold;
  width: 98%;
  height: 10%;
  margin: 1%;
}

.login-new-user-message {
  color: gray;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-inputs-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  margin: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-input {
  width: auto;
  height: fit-content;
  margin: 5%
}

.login-input input {
  font-family: inherit;
  width: 100%;
}

.login-error {
  color: red;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-submit {
  font-family: inherit;
  background-color: lightgreen;
  width: 40%;
  height: auto;
  margin: auto;
}

.plant-card-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  width: 98%;
  height: 95%;
  margin: 1%;
}

.plant-card {
  background-color: rgb(231, 231, 231);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 31.33%;
  height: 45%;
  margin: 1%;
}

.plant-card-title {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
}

.plant-card-title h3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.plant-card-title p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.plant-card-favorite-button {
  background: black;
  border: none;
  background-color: transparent;
  filter: grayscale(1);
  display: flex;
  font-size: larger;
  justify-content: center;
  width: 10%;
}

.plant-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.plant-card-content img {
  background-color: rgb(196, 196, 196);
  margin: 2%;
  display: flex;
  width: 38%;
  height: auto;
}

.plant-card-content div {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.plant-card-content div p {
  display: flex;
  width: auto;
  height: 10%;
  margin: 0;
  padding: 4px;
}

#app-footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: flex-end;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  margin: 0;
}

#github-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33%;
  height: auto;
  padding-right: 1%;
}

#github-link a {
  display: flex;
  justify-content: right;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 40%;
}

#github-link a:hover {
  color: yellowgreen;
  transition: 0.3s;
}

#github-link img {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  margin-right: 3%;
}