body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App-header {
  background-color: black;
  color: white;
  display: flex;
  width: 100vw;
  height: 10vh;
  margin: 0;
}

.App-main {
  display: flex;
  width: 100vw;
  height: 80vh;
  margin: 0;
}

#App-login-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  margin: 0;
}

#App-login-form {
  box-shadow: black 2px 2px 2px 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 90%;
  margin: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#App-login-form h1 {
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 90%;
  height: 10%;
  margin: 5%;
}

#login-inputs-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 20%;
  margin: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-input {
  width: auto;
  height: fit-content;
  margin: 5%
}

.login-input input {
  font-family: inherit;
  width: 100%;
}

#login-submit {
  font-family: inherit;
  background-color: lightgreen;
  width: 40%;
  height: auto;
  margin: auto;
}

.vegetable-card-table {
  display: -ms-inline-grid;
  width: 96%;
  height: auto;
  margin: 2%;
}

.vegetable-card {
  background-color: gray;
  display: inline-flex;
  width: 18%;
  height: 46%;
  margin: 1%;
}

.App-footer {
  display: flex;
  background-color: black;
  color: white;
  width: 100vw;
  height: 10vh;
  margin: 0;
}