body {
  background-image: linear-gradient(45deg, rgba(196, 196, 196, 0.596) 22%, rgba(158, 158, 158, 0.205) 64%), url("/public/images/lettuce-background.jpg");
  background-size: cover;
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#app-header {
  background-color: black;
  outline: greenyellow 10px solid;
  color: forestgreen;
  display: flex;
  width: 100vw;
  height: 15vh;
}

#header-title {
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 33%;
  height: 100%;
  padding-left: 1%;
}

#header-title img {
  width: 19%;
  height: auto;
  margin: 3%;
}

#header-title h1 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  width: fit-content;
  margin: 3%;
}

#dashboard {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 65%;
  height: 100%;
  padding-right: 1%;
}

#dashboard h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: inherit;
  width: 50%;
  height: 100%;
  margin: 0;
}

#dashboard button {
  display: flex;
  background: black;
  border: none;
  text-decoration: none;
  background-color: transparent;
  border-bottom: rgba(0, 0, 0, 0) solid 3px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: inherit;
  width: 8.5%;
  padding-top: 10px;
  padding-bottom: 7px;
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
}

#dashboard button:hover {
  border-bottom: lightgray solid 2px;
}

#dashboard button.active {
  border-bottom: forestgreen solid 3px;
}

#app-main {
  display: flex;
  width: 100vw;
  height: 75vh;
  margin: 0;
}

#login-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
}

#login-form {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 94%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

#login-form h1 {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 100%;
  height: 20%;
  margin: 0;
}

#login-message {
  color: forestgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: bold;
  width: 98%;
  height: 10%;
  margin: 1%;
}

#login-registration-message {
  color: gray;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-inputs-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  margin: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-input {
  font-family: inherit;
  width: 100%;
  height: fit-content;
  margin: 5%;
}

#login-error {
  color: red;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-submit {
  font-family: inherit;
  background-color: lightgreen;
  width: 40%;
  height: auto;
  margin: auto;
}

#plant-card-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  overflow-y: auto;
  width: 98%;
  height: 95%;
  margin: 1%;
}

.plant-card {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 31.33%;
  height: 45%;
  margin: 1%;
}

.plant-card-title {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
}

.plant-card-title h3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.plant-card-title p {
  display: flex;
  font-size: small;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.plant-card-title p span{
  color: yellowgreen;
  display: flex;
  font-size: small;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.favorite-button {
  background: black;
  border: none;
  background-color: transparent;
  filter: grayscale(1);
  display: flex;
  font-size: larger;
  justify-content: center;
  width: 10%;
}

.favorite-button-active {
  filter: grayscale(0);
  background: black;
  border: none;
  background-color: transparent;
  display: flex;
  font-size: larger;
  justify-content: center;
  width: 10%;
}

#app-post-form {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 62%;
  height: auto;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

#app-post-form h1 {
  background: darkgreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 100%;
  height: 20%;
  margin: 0;
}

.post-form-message {
  color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: bold;
  width: 96%;
  height: 8%;
  margin: 2%;
  margin-bottom: 0;
}

#post-inputs-container {
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 66%;
  margin: 2%;
}

#text-input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#text-input-div label {
  color: forestgreen;
  font-size: 14px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 96%;
  height: 4%;
  margin-left: auto;
  margin-right: auto;
}

.post-input {
  display: flex;
  font-family: inherit;
  width: 98%;
  height: 12%;
  margin: 2%
}

.post-textarea {
  display: flex;
  font-family: inherit;
  width: 98%;
  height: 65%;
  margin: 2%
}

#icon-input-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#icon-input-div label {
  color: forestgreen;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 4%;
  margin-left: auto;
  margin-right: auto;
}

.icon-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 10%;
  margin: 2%
}

.icon-input i {
  font-style: normal;
  font-size: 20px;
  width: 8%;
  border: 0;
}

.season-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 8%;
  margin: 2%
}

.season-input i {
  font-style: normal;
  font-size: 20px;
  width: 10%;
}

.icon {
  justify-content: center;
  filter: grayscale(1);
  cursor: pointer;
}

.icon:hover {
  filter: grayscale(0.75);
  cursor: pointer;
}

.icon-active {
  justify-content: center;
  filter: grayscale(0);
  cursor: pointer;
}

.form-error {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 80%;
  height: 46%;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
}

#post-submit {
  font-family: inherit;
  background-color: yellowgreen;
  font-weight: bold;
  width: 50%;
  height: 10%;
  margin: auto;
  margin-bottom: 2%;
}

.plant-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.plant-card-image {
  overflow: hidden;
  display: flex;
  width: 36%;
  height: auto;
  margin: 2%;
}

.plant-card-image img {
  background-color: lightgray;
}

.plant-card-info {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 58%;
  height: auto;
  margin: 2%;
  margin-left: 0;
}

.plant-card-info p {
  display: flex;
  font-size: small;
  font-family: inherit;
  width: auto;
  height: 10%;
  margin: 0;
  padding: 2%;
}

.plant-card-info p span{
  display: flex;
  font-size: small;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: auto;
  height: 70%;
  margin-left: auto;
}

.plant-card-info div {
  background: lightgray;
  outline: black 1px solid;
  display: flex;
  overflow-y: auto;
  font-size: 12px;
  font-family: inherit;
  width: 96%;
  height: 96%;
  padding: 2%;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.233);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.555);
}

#app-footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: flex-end;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  margin: 0;
}

#github-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33%;
  height: auto;
  padding-right: 1%;
}

#github-link a {
  display: flex;
  justify-content: right;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 40%;
}

#github-link a:hover {
  color: yellowgreen;
  transition: 0.3s;
}

#github-link img {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  margin-right: 3%;
}