body {
  background-image: linear-gradient(45deg, rgba(196, 196, 196, 0.596) 22%, rgba(158, 158, 158, 0.205) 64%), url("/public/images/lettuce-background.jpg");
  background-size: cover;
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.App-header {
  background-color: black;
  color: white;
  display: flex;
  width: 100vw;
  height: 15vh;
  margin: 0;
}

.App-main {
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 75vh;
  margin: 0;
}

#App-login-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
}

#App-login-form {
  background-color: rgb(231, 231, 231);
  box-shadow: rgb(255, 255, 255) 2px 2px 2px 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 94%;
  margin: 30%;
  margin-top: 3%;
  margin-bottom: 3%;
}

#App-login-form h1 {
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 90%;
  height: 10%;
  margin: 5%;
}

.login-message {
  color: forestgreen;
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-weight: bold;
  width: 98%;
  height: 5%;
  margin: 1%;
}

.login-new-user-message {
  color: gray;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-inputs-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  margin: 30%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.login-input {
  width: auto;
  height: fit-content;
  margin: 5%
}

.login-input input {
  font-family: inherit;
  width: 100%;
}

.login-error {
  color: red;
  display: flex;
  justify-content: center;
  font-family: inherit;
  width: 98%;
  height: 5%;
  margin: 1%;
}

#login-submit {
  font-family: inherit;
  background-color: lightgreen;
  width: 40%;
  height: auto;
  margin: auto;
}

.vegetable-card-table {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  height: auto;
  margin: 1%;
}

.vegetable-card {
  background-color: rgb(231, 231, 231);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 31.3%;
  height: auto;
  margin: 1%;
}

.card-title {
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15%;
}

.card-title h3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.card-title p{
  display: flex;
  align-items: center;
  width: 50%;
}

.card-title button{
  display: flex;
  align-items: center;
  width: 10%;
}

.card-content {
  background-color: hotpink;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.card-content img {
  background-color: orangered;
  display: flex;
  width: 40%;
}

.card-content div {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.card-content div p {
  display: flex;
  width: 100%;
  height: 15%;
  margin: 0;
}

.App-footer {
  display: flex;
  background-color: black;
  color: white;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  margin: 0;
}